<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.mywebsite.mapper.mybatis.UserMapper">

<select id="selectById" resultType="BeanModel.userinfo">
	select id,pw,name,to_char(birth,'YYYY-MM-DD') as birth,gender,phone,nvl(email,'없음') as email,imgname from userinfo where id=#{id}
</select>

<insert id="insertUser" parameterType="BeanModel.userinfo">
	insert into userinfo (id, pw, name, birth, gender, phone, email) values (#{id}, #{pw} , #{name}, #{birth2}, #{gender} , #{phone}, #{email})
</insert>

<select id="selectUser" resultType="BeanModel.userinfo">
select id,pw,name,to_char(birth,'YYYY-MM-DD') as birth,gender,phone,nvl(email,'없음') as email,imgname from userinfo
</select>

<select id="selectUserByBirth" resultType="BeanModel.userinfo" parameterType="Date">
 select id,pw,name,to_char(birth,'YYYY-MM-DD') as birth,gender,phone,nvl(email,'없음') as email,imgname from userinfo
 where birth between #{first} and #{second} order by 4
</select>
</mapper>